/*
Copyright 2014 UPES Grupo#2 Ingenieria en Ciencias de la Computación.
[Iddo José Claros - José Carlos Escobar - Carlos Amaury Tejada]
*/
@font-face
{
	font-family:Syncopate;
	font-style:normal;
	font-weight:normal;
	src:url(fonts/Syncopate-Regular.ttf);
}
@font-face
{
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    src:url(fonts/Ubuntu-Regular.ttf);
}
@font-face
{
    font-family: PontanoSans;
    font-style: normal;
    font-weight: normal;
    src:url(fonts/PontanoSans-Regular.ttf);
}
@font-face
{
    font-family: PoiretOne;
    font-style: normal;
    font-weight: normal;
    src:url(fonts/PoiretOne-Regular.ttf);
}
@font-face
{
    font-family: NewsCycle;
    font-style: normal;
    font-weight: normal;
    src:url(fonts/NewsCycle-Regular.ttf);
}
@font-face
{
    font-family: Michroma;
    font-style: normal;
    font-weight: normal;
    src:url(fonts/Michroma.ttf);
}
@font-face
{
    font-family: LobsterTwo;
    font-style: normal;
    font-weight: normal;
    src:url(fonts/LobsterTwo-Regular.ttf);
}
@font-face
{
    font-family: JosefinSlab;
    font-style: normal;
    font-weight: normal;
    src:url(fonts/JosefinSlab-Regular.ttf);
}
@font-face
{
    font-family: Iceland;
    font-style: normal;
    font-weight: normal;
    src:url(fonts/Iceland-Regular.ttf);
}
@font-face
{
    font-family: Exo;
    font-style: normal;
    font-weight: normal;
    src:url(fonts/Exo-Regular.ttf);
}
@font-face
{
    font-family: DoppioOne;
    font-style: normal;
    font-weight: normal;
    src:url(fonts/DoppioOne-Regular.ttf);
}
@font-face
{
    font-family: Comfortaa;
    font-style: normal;
    font-weight: normal;
    src:url(fonts/Comfortaa-Regular.ttf);
}
@font-face
{
    font-family: Amaranth;
    font-style: normal;
    font-weight: normal;
    src:url(fonts/Amaranth-Regular.ttf);
}
@font-face
{
    font-family: AdventPro;
    font-style: normal;
    font-weight: normal;
    src:url(fonts/AdventPro-Regular.ttf);
}