/*
Copyright 2014 UPES Grupo#2 Ingenieria en Ciencias de la Computación.
[Iddo José Claros - José Carlos Escobar - Carlos Amaury Tejada]
*/
/* 
    Created on : 03-jun-2014, 20:39:26
    Author     : Amaury
*/
@font-face
{
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    src:url(fonts/Ubuntu-Regular.ttf);
}
html,body
{
    background: #233E78;
    margin: 0px;
    font-family: Ubuntu;
}
#logo
{
    z-index: 2;
    position: absolute;
    top: 0px;
}
div#login
{
    width: 500px;
    height: 250px;
    background: #2b72a6;
    margin-left: auto;
    margin-right: auto;
    box-shadow: black 0px 0px 5px;
    position: relative;
    z-index: 3;
    color: #ffffff;
}
div#franja
{
    position: absolute;
    background: #2b72a6;
    height: 53px;
    width: 100%;
    top: 30px;
    z-index: 1;
}
div#franja span
{
    margin-left: 210px;
    color: #ffffff;
    vertical-align: middle;
    line-height: 53px;
}
div#icon
{
    display: inline-block;
    width: 250px;
    height: 250px;
}
div#icon img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
}
div#icon div
{
    position: absolute;
    width: 1px;
    height: 200px;
    background: #233E78;
    left: 248px;
    top: 25px;
}
div#form
{
    display: inline-block;
    width: 250px;
    height: 250px;
    float: right;
}
input
{
    margin-left: 10px;
    margin-bottom: 5px;
    width: 200px;
    height: 25px;
    font-family: Ubuntu;
}
button
{
    margin-left: 10px;
    margin-bottom: 5px;
    width: 200px;
    height: 40px;
    background: #233E78;
    border: 1px solid #091f4e;
    color: #ffffff;
    font-weight: bold;
    font-family: Ubuntu;
    cursor: pointer;
    transition: 0.5s all;
    -moz-transition: 0.5s all;
    -webkit-transition: 0.5s all;
    text-shadow: 2px 2px 2px #091f4e;
}
button:hover
{
    background: #05bfcf;
}
span
{
margin-left: 10px;    
}
h2
{
    margin: 10px;
}
